<div class="div-color" *ngIf="!isLoggedIn">
  <h3 class="heading-padding">
    Login
  </h3>
    <label>Username: </label>
    <input type="text" [(ngModel)]="username"/>
    <br>
    <br>
    <label>Password: </label>
    <input type="password" [(ngModel)]="password"/>
    <br>
    <br>
    <button (click)="login()">login</button>
  <br>
  <h3>
    Create Account
  </h3>
  <form>
    <label for="username">Username: </label>
    <input type="text" name="username" />
    <br>
    <br>
    <label for="password">Password: </label>
    <input type="password" name="password" />
    <br>
    <br>
    <button (click)="setFalse()">create account</button>
  </form>
</div>
<h2 *ngIf="isLoggedIn">
  You are now logged in!
</h2>