sudo: required  
dist: trusty
language: node_js
node_js:
- '7'

addons:
  ssh_known_hosts: 138.197.42.192
apt:
  sources:
    - google-chrome
  packages:
    - google-chrome-stable
    - google-chrome-beta

before_install:  
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - bash _scripts/install.sh
after_success:
  - bash _scripts/deploy.sh

script: karma start ./karma.conf.js --single-run

# branches:
#   only:
#     - master
