<!--The content below is only a placeholder and can be replaced.-->
<body style="text-align:center">
<div class="frontpage">
<table>
  <tr>
    <th>
      <p>
        <a routerLink="/news">Hacker News</a>
        | 
      </p>
    </th>
    <td>
      <p>
        <a routerLink="/newest">new</a>
        | 
      </p>
    </td>
    <td>
      <p>
        <a routerLink="/newcomments">comments</a>
        | 
      </p>
    </td>
    <td>
      <p>
        <a routerLink="/show">show</a>
        | 
      </p>
    </td>
    <td>
      <p>
        <a routerLink="/ask">ask</a>
        | 
      </p>
    </td>
    <td>
      <p>
        <a routerLink="/jobs">jobs</a>
        | 
      </p>
    </td>
    <td>
      <p>
        <a routerLink="/submit">submit</a>
      </p>
    </td>
  </tr>
</table>
</div>
<router-outlet></router-outlet>
</body>