<div class="div-color">
  <h1>TEEEEST</h1>
  <div class="div-lefttopbottom-padding" *ngFor="let item of list">
    <p>
      <a routerLink="" style="color:black">{{item.title}}</a>
      <small>
        <a routerLink=""> ({{item.url}}) </a>
      </small>
    </p>
    <div class="div-text-color">
      <small> {{item.score}} points by
        <a routerLink="">{{item.by}}</a>
        <a routerLink="">{{item.timestamp}}</a> |
        <a routerLink="">hide</a> |
        <a routerLink="">{{item.kids}} comments</a>
      </small>
    </div>
  </div>
</div>